.App {
  text-align: center;
}

body::-webkit-scrollbar-track {
  background: #54436b;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #50cb93;
  border-radius: 100px;
  border-right: 2px solid #33815e;
}